.row.header,
ul.sidebar .sidebar-main a {
    color: black;
    background-color: #FFE49D;
}

#sidebar-wrapper,
.sidebar-footer {
    background-color: #FFD670;
    color: #333 !important;
}

.sidebar-footer div a {
    color: #333 !important;
}