<form id="userLogin" class="row" data-ng-submit="login($event);">
    <div class="col-md-8">
        <div class="form-group">
            <label for="userName"></label>
            <input id="userName" class="form-control" type="text" data-ng-model="user.name" required/>
        </div>
        <div class="form-group">
            <label for="userPassword"></label>
            <input id="userPassword" class="form-control" type="password" data-ng-model="user.password" required/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input id="userLoginBtn" class="btn btn-default" type="submit" value="login">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="userRemember">Remember me</label>
            <input id="userRemember" class="form-control" type="checkbox" data-ng-model="user.remember" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <a id="userForgot" class="clickable" data-ng-click="userFind()">Lost ID/Password</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <a id="userForgot" class="clickable" data-ng-click="userRegister()">Register an Account</a>
        </div>
    </div>
</form>