<!--the template frame-->
<div id="page-wrapper" data-ng-class="{'open': toggle}" data-ng-cloak data-ng-controller="templateCtrl">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <!--sidebar header start-->
            <li class="sidebar-main">
                <a data-ng-click="toggleSidebar()">
                    <span class="sidebar-main">LinkIt.kr</span>
                    <!--<span class="menu-icon glyphicon glyphicon-transfer"></span>-->
                </a>
            </li>
            <!--sidebar header end-->

            <!--sidebar content start-->
            <!--<li class="sidebar-title">
                <span>NAVIGATION</span>
            </li>-->
            <!--<li class="sidebar-list">
                <a ui-sref="template.dashboard">
                    <span class="sidebar-item">Dashboard</span>
                    <span class="menu-icon fa fa-tachometer"></span>
                </a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="template.tables">
                    <span class="sidebar-item">Tables</span>
                    <span class="menu-icon fa fa-table"></span>
                </a>
            </li>-->
            <!--<li class="sidebar-list">
                <a ui-sref="template.networkAll">
                    <span class="sidebar-item">Network</span>
                    <span class="menu-icon fa fa-table"></span>
                </a>
            </li>-->
            <!--sidebar content end-->
        </ul>

        <div class="sidebar-contents">
            <div class="user-profile" style="text-align:center;">
                <div style="color: white; font-size: 120px;">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div style="margin:8px;">
                    <span style="margin: 8px; background-color:#C6C07E; padding:5px 10px;">프로파일 변경하기</span>
                </div>
                <div style="margin:8px;">
                    <span>건실성책연구소</span>
                </div>
                <div style="margin:8px;">
                    <span>홍길동 연구원</span>
                </div>
                <div style="margin:8px;">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                    <span>전체 네트워크</span>
                </div>
                <div style="margin:8px;">
                    <button style="padding: 5px 10px; border-radius: 3px; border: none; background-color:#E66E31; color: white;">연구소</button>
                    <button style="padding: 5px 10px; border-radius: 3px; border: none; background-color:#8EAAD9; color: white;">연구원</button>
                </div>
                <div style="">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <span>각 연구소 네트워크</span>
                </div>
                <div style="margin: 12px; vertical-align: bottom;">
                    <select style="border: none; height: 30px; padding: 3px; display: inline-block; vertical-align: bottom;">
                        <option>Drop-Down Box</option>
                    </select>
                    <button style="border: none; background-color: #BD8D27; font-size: 21px; padding: 0px 7px; display: inline-block; vertical-align: bottom;">+</button>
                </div>
            </div>
            <div style="position: absolute; bottom: 50px;">
                <div style="margin: 12px;">
                    <span style="display: inline-block; width: 98px; text-align:right; padding-right: 3px;">노드 크기 변경</span>
                    <select style="border: none; height: 30px; padding: 3px; display: inline-block;">
                        <option>Combo Box</option>
                    </select>
                </div>
                <div style="margin: 12px;">
                    <span style="display: inline-block; width: 98px; text-align:right; padding-right: 3px;">링크 변경</span>
                    <select style="border: none; height: 30px; padding: 3px; display: inline-block;">
                        <option>Combo Box</option>
                    </select>
                </div>
            </div>
        </div>

        <!--sidebar footer start-->
        <div class="sidebar-footer">
            <!--<div class="col-xs-4">
                <a href="https://github.com/rdash/rdash-angular" target="_blank">
                    <span class="sidebar-footer-item">Github</span>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
                    <span class="sidebar-footer-item">About</span>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    <span class="sidebar-footer-item">Support</span>
                </a>
            </div>-->
        </div>
        <!--sidebar footer end-->
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <!--<div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header" data-ng-bind="user.name"></li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a data-ng-if="user.session" class="clickable" data-ng-click="logout();">Logout</a>
                                    <a data-ng-if="!user.session" class="clickable" ui-sref="template.login">Login</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                    <!--<div class="meta">
                        <div class="page" data-ng-bind="currentpage.title"></div>
                        <div class="breadcrumb-links" data-ng-bind="currentpage.breadcrumbs"></div>
                    </div>-->
                    <div class="pull-right">
                        <a href="#" class="navbar-button">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <span>로그아웃</span>
                        </a>
                    </div>
                    <div class="meta">
                        <a href="#" class="navbar-button">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <span>연결망검색</span>
                        </a>
                        <a href="#" class="navbar-button">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            <span>키워드검색</span>
                        </a>
                        <a href="#" class="navbar-button">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>트리보기</span>
                        </a>
                        <a href="#" class="navbar-button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>연구자관리</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->

            <!-- Main Content -->
            <div data-ui-view="content"></div>

        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->