<div class="row">
    <div class="clicker-container">
        <div class="clicker" data-ng-click="generateEmployeeData()">Employees</div>
        <div class="clicker" data-ng-click="generateFirstData()">대분류</div>
        <div class="clicker" data-ng-click="generateSecondData()">중분류</div>
        <div class="clicker" data-ng-click="generateThirdData()">소분류</div>
        <div class="clicker" data-ng-click="generateDepartments()">장소생성</div>
        <div class="clicker" data-ng-click="generateDepartmentData()">장소</div>
        <div class="clicker" data-ng-click="init()">Reset</div>

        <div class="clicker" data-ng-repeat="dept in deptNodeList" data-ng-bind="dept.label"></div>
    </div>

    <div id="network-all-container" class="col-xs-12 network"></div>
</div>