html {
    overflow-y: auto;
}

.sidebar-contents {
    margin-top: 60px;
    padding: 15px;
}

.navbar-button {
    display: inline-block;
    width: 85px;
    color: black;
}
.navbar-button > i {
    margin: 8px;
    font-size: 25px;
}
.navbar-button > span {
    position: absolute;
    margin-left: -52px;
    top: 38px;
}